/pythonProject1/.idea/
/pythonProject1/main.py
/pythonProject1/homework3_1.py
/pythonProject1/loops.py
/pythonProject1/uus.py
/pythonProject1/homework3_2.py
/pythonProject1/hello.py
/pythonProject1/homework1.py
/pythonProject1/homework2.py
/pythonProject1/number_guessing_game_loop.py
/pythonProject1/enumerate.py
/pythonProject1/Calculator2.py
/pythonProject1/results.txt
/pythonProject1/testing.py
/pythonProject1/homework3_3.py
/pythonProject1/testing1.py
/pythonProject1/randomgame.py
/pythonProject1/input_conditionals.py
/pythonProject1/function.py
/pythonProject1/IF ELSE condition.py
